.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.ButtonStyle{
  margin: 12px;
  background-color: steelblue;
}

.ButtonStyle:hover{
    background-color: #B58A47;
}

.Footer {
  position:fixed;
  bottom: 0;
  width: 100%;

  background-color: rgba(255,255,255,0.75);
}

.CenterButton {
  margin: auto;
  width: 30%;
  display: block;
  justify-content: center;
}

a {
  text-decoration: none;
  color: black;
}